.slider {
    position: relative;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.image {
    min-width: 100%;
    transition: opacity 1s ease-in-out;
    display: none;
}

.image.displayBlock {
    display: block;
}

#previous, #next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#previous {
    left: 10px;
}

#next {
    right: 10px;
}
