* {
  scroll-behavior: smooth;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: hsl(34, 100%, 60%, 50%);
  margin: 0;
  padding: 0;
}

h1 {
  width: 100%;
  text-align: center;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#input {
  display: flex;
  align-items: center;
  width: 90%; 
  max-width: 300px; 
  margin-bottom: 20px; 
}

input[type="text"] {
  flex: 1; 
  padding: 10px;
  margin-right: 10px; 
  border-radius: 5px;
  background-color: #a0a0a0;
  color: black;
  font-weight: bold;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  transition: all 0.3s ease;
}

input[type="text"]:hover {
  background-color: hsl(9, 100%, 84%);
  border-color: hsl(16, 100%, 80%);
}

#search {
  background-color: aquamarine;
  font-size: 16px;
  border-radius: 5px;
  padding: 10px;
  border: none;
  cursor: pointer; 
}

#search:hover {
  background-color: hsl(160, 100%, 85%);
}

#output {
  width: 90%; 
  max-width: 400px; 
  height: auto;
  border: 2px solid hsl(0, 100%, 80%);
  background: linear-gradient(to bottom, skyblue, lightgreen 70%, green);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#output p {
  font-size: 20px;
  font-weight: 600;
}
